In [2]:
# here i import 2 python library for the data anlysis purpose 
import numpy as np 
import pandas as pd

In [4]:
# here i load the data using the pandas library from the csv file
df = pd.read_csv("Fraud.csv")
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [6]:
# check for the null value present in the given dataset

df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [10]:
# check is there any duplicate duplicate value present in the given dataset

df.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
6362615    False
6362616    False
6362617    False
6362618    False
6362619    False
Length: 6362620, dtype: bool

In [12]:
# here i used the shortcut function for the evaluation of each and everything in the given dataset

df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [16]:
# check the type of the dataset specially for the transfer

df[df["type"]== "TRANSFER"]

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2,1,TRANSFER,181.00,C1305486145,181.00,0.0,C553264065,0.00,0.00,1,0
19,1,TRANSFER,215310.30,C1670993182,705.00,0.0,C1100439041,22425.00,0.00,0,0
24,1,TRANSFER,311685.89,C1984094095,10835.00,0.0,C932583850,6267.00,2719172.89,0,0
58,1,TRANSFER,62610.80,C1976401987,79114.00,16503.2,C1937962514,517.00,8383.29,0,0
78,1,TRANSFER,42712.39,C283039401,10363.39,0.0,C1330106945,57901.66,24044.18,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362610,742,TRANSFER,63416.99,C778071008,63416.99,0.0,C1812552860,0.00,0.00,1,0
6362612,743,TRANSFER,1258818.82,C1531301470,1258818.82,0.0,C1470998563,0.00,0.00,1,0
6362614,743,TRANSFER,339682.13,C2013999242,339682.13,0.0,C1850423904,0.00,0.00,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.0,C1881841831,0.00,0.00,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.0,C2080388513,0.00,0.00,1,0

In [18]:
# here i check for the datatype of all the values i have in the dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [20]:
# check for the shape of the given dataset 

df.shape

(6362620, 11)

In [22]:
# here i check for the transaction is fraud or not

df.isFraud.value_counts()

isFraud
0    6354407
1       8213
Name: count, dtype: int64

In [24]:
# here i changed the name on the column here

df = df.drop(["nameOrig", "nameDest"],axis = 1) # data preprocessing

In [28]:
# Import label encoder
from sklearn import preprocessing

# label_encoder object knows how to understand word labels

label_encoder = preprocessing.LabelEncoder()

# here i used both the fit and transform function for the type column in the given datset and change directly at the particular columns
df["type"] = label_encoder.fit_transform(df["type"])

In [32]:
# using the loc function we are split the data
X, y = df.loc[:,df.columns != "isfraud"], df["isFraud"]

In [46]:
# here i import the sklearn ML library for the specific purpose here train, test, split

from sklearn.model_selection import train_test_split


# as it is mentioned in the instruction i have to train the model on the 70% of the validation and rest for the test purpose


X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.30, random_state = 44)

In [48]:
# import another ML library functionality

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
# this basically for the test and transform the X_test and train the data
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [50]:
# import Gaussian Naive Bayes model

from sklearn.naive_bayes import GaussianNB

from sklearn import metrics  # import the scikit learn metrics module for accuracy calculation

# Create a Gaussian Classifier
gnb = GaussianNB()

# Train the model using the training sets

gnb.fit(X_train, y_train)

# predict the response for test dataset here

y_pred = gnb.predict(X_test)
print("Accuracy of the model:", metrics.accuracy_score(y_test,y_pred))

Accuracy of the model: 1.0

In [54]:
# use another model to test the accuracy of the model
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)
print("Accuracy of the model:", metrics.accuracy_score(y_test,y_pred))

Accuracy of the model: 1.0